backend/**/*.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
backend/models/sentence_transformers.bin
backend/models/labse.bin
backend/models/sentence_transformers_xlm_100.bin
backend/models/sentence_transformers-v2.bin
docs/source/_build
data/*
backend/data
backend/data_old
backend/_data
backend/_models
backend/__data
backend/static/img
dev/data/*
dev/data/img/*
**/covers
**/node_modules
tools/pdf/data/_cat_jp.xml
tools/pdf/data/a_akutagawa_jp.xml
tools/pdf/data/a_body.xml
tools/pdf/data/a_door.xml
tools/pdf/data/a_mary.xml
tools/pdf/data/a_picnic_zh.xml
tools/pdf/data/agata_12_3_zh.xml
tools/pdf/data/agata_zh.xml
tools/pdf/data/cat_jp.xml
tools/pdf/data/clarke_en.xml
tools/pdf/data/nolon.xml
tools/pdf/data/ohenry_peters_en.xml
tools/pdf/data/rodari_cat_it.xml
tools/pdf/data/sheckley_absolut_en.xml
tools/pdf/data/sheckley_de.xml
tools/pdf/data/sheckley_gluck_de.xml
tools/pdf/data/sheckley_pushka_en.xml
tools/pdf/data/sheckley_talk_en.xml
tools/pdf/examples/a_body.pdf
tools/pdf/examples/a_door_en.pdf
tools/pdf/examples/a_mary.pdf
tools/pdf/examples/a_picnic_zh.pdf
tools/pdf/examples/agata_zh.pdf
tools/pdf/examples/akutagawa_.pdf
tools/pdf/examples/akutagawa.pdf
tools/pdf/examples/cat_jp.pdf
tools/pdf/examples/clarke_god_names_en.pdf
tools/pdf/examples/door_into_summer_en.pdf
tools/pdf/examples/nolon.pdf
tools/pdf/examples/ohenry_en.pdf
tools/pdf/examples/ohenry_peters_en.pdf
tools/pdf/examples/picnic_zh.pdf
tools/pdf/examples/picnic.pdf
tools/pdf/examples/puaro.pdf
tools/pdf/examples/rodari_cat_it.pdf
tools/pdf/examples/schloss.pdf
tools/pdf/examples/sheckley_absolut_en.pdf
tools/pdf/examples/sheckley_absolut_zh.pdf
tools/pdf/examples/sheckley_gluck_de.pdf
tools/pdf/examples/sheckley_pushka_en.pdf
tools/pdf/examples/sheckley_talk_en.pdf
tools/pdf/examples/test.pdf
tools/pdf/examples/lingtrain/agata_en.pdf
tools/pdf/data/capek_meizlik_cz.xml
tools/pdf/data/chekhov_znak_el.xml
tools/pdf/data/clarke_saturn_es.xml
tools/pdf/data/ohenry_bulki_en_kg.xml
tools/pdf/data/ohenry_bulki_kg.xml
tools/pdf/data/prince_fr.xml
tools/pdf/data/sheckley_luck_en.xml
tools/pdf/data/wilde_rose_en_be.xml
tools/pdf/data/wilde_rose_en.xml
tools/pdf/data/wilde_rose_es.xml
tools/pdf/examples/capek_meizlik_cz.pdf
tools/pdf/examples/chekhov_znak_el.pdf
tools/pdf/examples/clarke_saturn_es.pdf
tools/pdf/examples/ohenry_bulki_en_kg.pdf
tools/pdf/examples/ohenry_bulki_kg.pdf
tools/pdf/examples/prince_fr.pdf
tools/pdf/examples/schloss.pdf
tools/pdf/examples/sheckley_look_en.pdf
tools/pdf/examples/wilde_rose_en_be.pdf
tools/pdf/examples/wilde_rose_en.pdf
tools/pdf/examples/wilde_rose_es.pdf
tools/pdf/examples/schloss.pdf
tools/pdf/_book.css
tools/pdf/_temp.xslt
tools/pdf/a-book.css
tools/pdf/test.html
tools/pdf/test.pdf
tools/pdf/test2.html
tools/pdf/test2.pdf
tools/pdf/test3.html
tools/pdf/WORKING_EXAMPLE.html
tools/pdf/data/_altov_intel_eo_ru.xml
tools/pdf/data/_heinlein_door_en.xml
tools/pdf/data/altov_intel_eo_ru.xml
tools/pdf/data/altov_intel_eo_ru.xml.html
tools/pdf/data/azkaban_1_pt_ru.xml
tools/pdf/data/azkaban_1_pt_ru.xml.html
tools/pdf/data/blaumanis_trava_la.xml
tools/pdf/data/blaumanis_trava_la.xml.html
tools/pdf/data/bradbury_den_ru_ru.xml
tools/pdf/data/bradbury_den_ru_ru.xml.html
tools/pdf/data/door.xml
tools/pdf/data/good.html
tools/pdf/data/heinlein_door_de_ru.xml
tools/pdf/data/heinlein_door_de_ru.xml.html
tools/pdf/data/heinlein_door_en.xml
tools/pdf/data/heinlein_door_en.xml.html
tools/pdf/data/ivo_most_sr.xml
tools/pdf/data/ivo_most_sr.xml.html
tools/pdf/data/sheckley_luck_en.xml.html
tools/pdf/examples/altov_intel_eo_ru.pdf
tools/pdf/examples/altov_intel_eo_ru2.pdf
tools/pdf/examples/azkaban_1_pt_ru.pdf
tools/pdf/examples/blaumanis_trava_la.pdf
tools/pdf/examples/blaumanis_trava_la2.pdf
tools/pdf/examples/bradbury_den_ru_ru.pdf
tools/pdf/examples/heinlein_door_de_ru.pdf
tools/pdf/examples/heinlein_door_de_ru2.pdf
tools/pdf/examples/heinlein_door_en_ru.pdf
tools/pdf/examples/heinlein_door_en.pdf
tools/pdf/examples/ivo_most_sr_ru.pdf
tools/pdf/examples/schloss.pdf
