/* Add your custom fonts here */
@font-face {
  font-family: Josefin Sans;
  src: url("../fonts/JosefinSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: normal;
  src: url("../fonts/NotoSansJP-Medium.otf");
}

/* A4 format */
@page {
  margin: 2cm 2cm 2cm 2cm;
  size: 210mm 297mm;
}

@page :left {
  @bottom-left {
    content: counter(page);
    position: absolute;
    z-index: -1;
  }

  @bottom-right {
    content: string(heading);
    position: absolute;
    z-index: -1;
  }
}

@page :right {
  @bottom-left {
    content: string(heading);
    position: absolute;
    z-index: -1;
  }

  @bottom-right {
    content: counter(page);
    position: absolute;
    z-index: -1;
  }
}

@page full {
  @bottom-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }

  background: black;
  margin: 0;
}

@page :blank {
  @bottom-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }
}

@page clean {
  @bottom-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }
}

html {
  counter-reset: h2-counter;
  font-family: 'Noto Sans JP';
  font-size: 10pt;
}

body {
  margin: 0;
}

p {
  line-height: 2;
  text-align: justify;
}

img {
  display: block;
  margin: 2em auto;
  max-width: 70%;
}

h2 {
  color: black;
  counter-increment: h2-counter;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP';
  font-size: 1.8em;
  height: 5cm;
  justify-content: flex-start;
  margin: 0;
  string-set: heading content();
  text-align: center;
}

h2::before {
  content: " "counter(h2-counter, upper-roman) " ";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 20px;
}

section {
  break-after: always;
}

aside {
  display: flex;
  justify-content: center;
}

aside figure {
  flex: none;
  margin: 0;
  padding: 1em;
  text-align: center;
}

aside img {
  border: 0.4mm solid white;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 14mm;
}

.character {
  break-after: avoid;
  margin: auto;
  max-width: 14mm;
}

#authors {
  font-family: 'Josefin Sans';
  padding-top: 16em;
  padding-left: 1em;
  page: clean;
  text-align: center;
}

#authors img {
  display: block;
  margin: auto;
  width: 26%;
}

#authors p {
  font-size: 2.2em;
  margin: 2em 0 1em;
  text-align: center;
}

#authors dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#authors dt {
  display: block;
  font-size: 0.8em;
  line-height: 2rem;
  width: 100%;
}

#authors dd {
  margin: 0 0.5em;
  padding: 0;
}

.contents {
  page: clean;
}

.contents p {
  font-size: 2em;
}

.contents ul {
  display: block;
  margin: 1em 0;
  padding: 0;
}

.contents li {
  display: block;
}

.contents a {
  color: inherit;
  text-decoration: none;
}

.contents a::before {
  content: target-counter(attr(href), h2-counter) '. 'target-text(attr(href));
}

.contents a::after {
  content: target-counter(attr(href), page);
  float: right;
}

.hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.outro {
  border-radius: 50% 50% 0 0 / 15mm 15mm 0 0;
  display: block;
  height: 90mm;
  left: -30mm;
  max-width: none;
  object-fit: cover;
  position: absolute;
  top: 120mm;
  width: 168mm;
  z-index: -1;
}

.fullpage img {
  bottom: 0;
  height: 297mm;
  left: 0;
  margin: 0;
  max-width: none;
  object-fit: cover;
  page: full;
  position: absolute;
  width: 210mm;
  z-index: 1;
}

.fullpage:last-child {
  break-before: left;
}

.title {
  padding-top: 6em;
  padding-left: 1em;
  page: clean;
  text-align: center;
}

.title .book-title {
  font-size: 4em;
  margin: 2em 0 1em;
  text-align: center;
}

.title .book-author {
  font-size: 2em;
  margin: 2em 0 1em;
  text-align: center;
}

/* Lingtrain styles */

.par {
  padding: 15px 10px;
  text-indent: 10px;
}


.cont {
  margin: 0 150px;
}

.dt {
  display: table;
}

.dt-row {
  display: table-row;
}


.dt-row:nth-child(even):not(.header)>.dt-cell:not(.divider) {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.dt-cell {
  display: table-cell;
  width: 50% !important;
  /* word-break: break-word; */
}

.dt-cell-colspan {
  display: table-caption;
}

.divider {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  text-align: center;
}

.divider-img {
  width: 50px;
  height: 50px;
}

.flag-img {
  height: 50px;
  width: 50px;
  padding: 0 10px 0 0;
}

.inline {
  display: inline-block;
}

.s {
  padding: 0 6px;
}

.text-center {
  text-align: center;
}

.lt-quote-text {
  font-style: italic;
  text-align: right;
  font-size: 0.9em;
}

.lt-quote-name {
  text-align: right;
  font-size: 0.8em;
}

.lt-image {
  max-height: 300px;
  max-width: 800px;
}

.lt-title {
  font-size: 52px;
  text-align: center;
}

.lt-author {
  font-size: 40px;
  text-align: center;
}

.lt-footer {
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  color: white;
  background: cornflowerblue;
}

.lt-header {
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  background: cornflowerblue;
}

.s0 {
  background: #cfefd7;
  color: black;
}

.s1 {
  background: #fadce2;
  color: black;
}

.s2 {
  background: #cce7eb;
  color: black;
}

.s3 {
  background: #fefbd6;
  color: black;
}

/* GENERATED CONTENT */

#part-1-h2::after {
  content: "Что сказал на допросе судейского чиновника дровосек";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}

#part-2-h2::after {
  content: "Что сказал на допросе судейского чиновника странствующий монах";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}

#part-3-h2::after {
  content: "Что сказал на допросе судейского чиновника стражник";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}

#part-4-h2::after {
  content: "Что сказала на допросе судейского чиновника старуха";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}

#part-5-h2::after {
  content: "Признание Тадземару";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}

#part-6-h2::after {
  content: "Что рассказала женщина на исповеди в храме Кемидзу";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}

#part-7-h2::after {
  content: "Что сказал устами прорицательницы дух убитого";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 20px;
}